li{
    list-style: none;
    
}
a{
    text-decoration: none;
}
.title1{
    color: rgb(19, 148, 234);
    text-shadow: 5px 5px 5px;
}
.imgsize{
    width: 200px;
    height: 200px;
}
.p{
    color: rgb(14, 150, 241);   
}