body{direction: rtl;}
header{
    background-color:aquamarine;
    text-align: center;
    width: 1500px ;
    height: 200px;
}
nav{

}

ul{
    background-color: rgb(255, 10, 141);
    height:800px;
    margin: 7px;

    padding: 1px;
    display:flex;
  
    
}

ul li{
    background-color: darkviolet;
    margin: 4px;
    list-style:none;;
    width: 800px;
    height: 800px;
    border-radius:8px;
    text-align: center;  
}
main{
    background-color:deepskyblue;
    padding: 3px;
    display:flex;
}
aside,section{
    background-color:dodgerblue;
    margin: 5px;
    border-radius:  10px;
}
aside{
    flex-grow:1;
}
section{
    flex-grow: 4;
}
footer{
    background-color:lightseagreen;
    padding: 5px;
}